@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
$color-backgroundPrimary: #E5E5E5;
$color-backgroundSecondary: #FFFEFB;
$color-font: #3F3F3F;
$color-fontInput:#B4B4B4;
$color-fontLabel:#49485E;
$color-buttonDefault:#EEEEEE;
$color-buttonDanger:#FF8484;
$color-buttonSucces:#7BAE73;
$font-family: 'Source Sans Pro',
sans-serif;