@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
$color-backgroundPrimary: rgba(255,
254,
251,
0.8);
$color-backgroundSecondary: rgba(255,
254,
251,
1);
$color-font: #3F3F3F;
$color-fontInput:rgba(63,
63,
63,
1);
$color-fontLabel:#49485E;
$color-white: #FFFFFF;
$color-buttonDefault:#EEEEEE;
$color-buttonDanger:#FF8484;
$color-buttonSucces:#7BAE73;
$font-family: 'Source Sans Pro',
sans-serif;
$font-familyBtn: 'Inter',
sans-serif;